@{
    ViewBag.Title = "About Us";
}

<div class="container bodyBackground">
    <div class="row">
        <h2 style="margin-bottom: 3px;">@ViewBag.Title</h2>
        <p>We are a one-stop, full-service flower shop specializing in stem flowers and flower bouquets for all occasions.</p>
        <h3>Our History</h3>
        <p>Our history goes here.</p>
        <h3>Our Expansion to the Web</h3>
        <p>Our Expansion story goes here.</p>

    </div>
</div>