@{
    ViewBag.Title = "About Us";
}

<div class="container bodyBackground">
    <div class="row">
        <h2 style="margin-bottom: 3px;">@ViewBag.Title</h2>
        <p>We are committed to a safe and secure visit to our website for all our visitors.</p>
        <h3>Cookies</h3>
        <p>Cookie Information</p>
        <h3>Tracking Information</h3>
        <p>Tracking Information goes here.</p>
        <h3>Privacy Policy</h3>
        <p>Privicy Policy goes here.</p>

    </div>
</div>
