@{
    ViewBag.Title = "Management";
}

<div class="container bodyBackground">
    <div class="row">
        <h2 style="margin-bottom: 3px;">Index</h2>
        <ul>
            <li>@Html.ActionLink("Manage Colors", "Index", "ManageColor")</li>
            <li>@Html.ActionLink("Manage Characteristics", "Index", "ManageCharacteristic")</li>
            <li>@Html.ActionLink("Mange Flower", "Index", "ManageFlower")</li>
        </ul>
    </div>
</div>
